/* Add CSS Styling */
.odd {
    background-color: rgb(231, 143, 134);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#fourth {
    background-color: rgb(106, 245, 106);
    font-weight: bold;
}